<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<h1>Category </h1>
  <%= render :partial => 'subnav'  %>
<br/>
<% form_for(@category) do |f| %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
  <%= f.label :description %><br />
  <%= f.text_area  :description %>
</p>
  <p> <%= f.submit 'Update' %> </p>
<% end %>